/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/main.scss */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* line 9, ../sass/main.scss */
html,
body {
  font-size: 16px;
  line-height: 24px;
}

/* line 23, ../sass/main.scss */
body,
html {
  font-family: 'Fira Sans','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  min-height: 100%;
}

/* line 29, ../sass/main.scss */
body {
  background: #fae8d6;
}

/* line 34, ../sass/main.scss */
main {
  display: block;
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 3rem auto;
  padding: 0 3rem;
}

/* line 43, ../sass/main.scss */
h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin: 1.5rem 0;
}

/* line 49, ../sass/main.scss */
p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1.5rem 0;
}

/* line 55, ../sass/main.scss */
.title--main {
  font-size: 4rem;
  line-height: 4.5rem;
  color: #4f515f;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.325rem;
}

/* line 65, ../sass/main.scss */
.text--main {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: #3b3e4d;
}

/* line 72, ../sass/main.scss */
.weather-status {
  display: block;
  color: #e57567;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* line 80, ../sass/main.scss */
.weather-title {
  font-size: 8rem;
  line-height: 8.5rem;
}

/* line 85, ../sass/main.scss */
.weather-location {
  display: block;
  font-size: 3rem;
  line-height: 3.5rem;
}

/* line 91, ../sass/main.scss */
.weather-date {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}

/* line 97, ../sass/main.scss */
.weather-type {
  color: #fdc383;
  cursor: pointer;
}
